<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hoeattest">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HoEATtest"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MytripActivity"
            android:exported="true">
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".LoginActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".MbticonfirmActivity"/>
        <activity android:name=".MypageiActivity"/>
        <activity android:name=".MyreviewActivity"/>
<!--        <activity android:name=".MytripActivity"/>-->
        <!--        <activity android:name=".RegisterActivity" />-->
        <activity android:name=".RestaurantActivity" />
        <activity android:name=".WriteReviewActivity"/>
        <activity android:name=".FoodCategoryActivity"/>
<!--        <activity android:name=".MbtiStartActivity"/>-->
        <activity android:name=".MbtiQ1Activity"/>
        <activity android:name=".MbtiQ2Activity"/>
        <activity android:name=".MbtiQ3Activity"/>
        <activity android:name=".MbtiQ4Activity"/>
        <activity android:name=".MbtiQ5Activity"/>
        <activity android:name=".MbtiQ6Activity"/>
        <activity android:name=".MbtiQ7Activity"/>
        <activity android:name=".MbtiQ8Activity"/>
        <activity android:name=".MbtiQ9Activity"/>
        <activity android:name=".MbtiQ10Activity"/>
        <activity android:name=".MbtiQ11Activity"/>
        <activity android:name=".MbtiQ12Activity"/>
        <activity android:name=".MbtiResultActivity"/>
        <activity android:name=".ChattingListActivity"/>
        <activity android:name=".ChattingStartActivity"/>
        <activity android:name=".PartnerWriteActivity"/>
        <activity android:name=".ReviewPersonActivity"/>




    </application>

</manifest>